<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Sirve archivos estáticos si existen
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirige rutas de la SPA a index.html
  RewriteRule ^ index.html [L]
</IfModule>
